doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Little Vista

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/styles/vendor.css')
    link(rel='stylesheet', href='assets/styles/app.css')

  body.page.forgot
    .content
      .inner
        .logo
        form(action="", method="post")
          input(type="text", placeholder="Username")
          button.btn.btn-green Send new password
    

    script(src='assets/js/vendor.js')
    script(src='assets/js/app.js')