doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Little Vista

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    style.
      body {
        padding: 50px;
        background: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      h2 {
        font-weight: 300;
        margin: 0;
      }

      span {
        color: #777;
      }

      ol {
        margin: 30px 0 0 20px;
        padding: 0;
      }

      li {
        margin: 10px 0;
        line-height: 24px;
      }

      a {
        font-size: 16px;
        line-height: 24px;
        color: #54afe2;
        border-bottom: 1px solid #54afe2;
        text-decoration: none;
        font-weight: 300;
        -webkit-transition: border-bottom .2s;
        -o-transition: border-bottom .2s;
        transition: border-bottom .2s;
      }

      a:hover {
        border-bottom: 1px solid #fff;
      }

  body
    
    h2 Little Vista

    ol
      li
        a(href="login.html") Login page
      li
        a(href="forgot.html") Forgot page
      li
        a(href="sidebar.html") Single sidebar
      li
        a(href="dashboard.html") Dashboard
      li
        a(href="reports.html") Reports
      li
        a(href="weekly.html") Weekly