doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Little Vista

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/styles/vendor.css')
    link(rel='stylesheet', href='assets/styles/app.css')

  body.white
    #wrapper
      aside#sidebar
        .sidebar__header
          a.sidebar__logo(href="index.html")
        .account
          h3.account__name Nikki Byrne
          span.account__info Inspire Creche, Naas Co. Kildare
        nav.nav
          a.nav__link.nav__link-active
            i.nav__icon.nav__icon-dashboard
            span Dashboard
          a.nav__link
            i.nav__icon.nav__icon-review
            span Review
          a.nav__link
            i.nav__icon.nav__icon-account
            span My Account
          a.nav__link
            i.nav__icon.nav__icon-logout
            span Logout
        
        a.sidebar__contact(href="#contact") Contact

      #content.content
        .payments
          .payments__title Payment Management
          .payments__filters
            .payments__filters-left
              .payments__filters-left_title Filter By:
              .payments__filter.payments__filter_1 paid
              .payments__filter.payments__filter_2 pending
              .payments__filter.payments__filter_3 overdue
            .payments__filters-right
              .payments__filters-right_title Search Patterns
              input(type="text").payments__filter-input

          table.payments__table
            thead
              tr
                th
                th Family
                th Children
                th Amount
                th Status
                th Actions
            tbody
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
              tr
                td
                  .payments__file
                td Amy & Tim Murthy
                td Richard, Judy, Maurice
                td 855.00
                td
                  span.payments__paid PAID
                td
                  .payments__action Actions
                    .payments__dropdown
                      .payments__dropdown-title Actions:
                      a.payments__dropdown-item.payments__dropdown-item_1 Send Statement
                      a.payments__dropdown-item.payments__dropdown-item_2 Send New E-Mandate
                      a.payments__dropdown-item.payments__dropdown-item_3 Notify of Overdue Payments
                      hr
                      a.payments__dropdown-item.payments__dropdown-item_4 Add Incidental Charges
                      a.payments__dropdown-item.payments__dropdown-item_5 Change Payment Method
          ul.payments__pagination
            li
              a <
            li
              a 1
            li
              a 2
            li
              a 3
            li
              a >
          