doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Little Vista

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/styles/vendor.css')
    link(rel='stylesheet', href='assets/styles/app.css')

  body.white
    #wrapper
      aside#sidebar
        .sidebar__header
          a.sidebar__logo(href="index.html")
        .account
          h3.account__name Nikki Byrne
          span.account__info Inspire Creche, Naas Co. Kildare
        nav.nav
          a.nav__link.nav__link-active
            i.nav__icon.nav__icon-dashboard
            span Dashboard
          a.nav__link
            i.nav__icon.nav__icon-review
            span Review
          a.nav__link
            i.nav__icon.nav__icon-account
            span My Account
          a.nav__link
            i.nav__icon.nav__icon-logout
            span Logout
        
        a.sidebar__contact(href="#contact") Contact

      #content.content
        .planning
          .planning__title Room Planning - Baby Room
          .planning__controls
            .planning__staff
              .planning__staff-headline Childcare Practitioners - On Rota
              .planning__staff-enum
                .planning__man
                  img(src="//place-hold.it/65x65", alt="")
                  span Rosa Byrne
                .planning__man
                  img(src="//place-hold.it/65x65", alt="")
                  span Deirdle Kelly
                a.planning__add(href="#") Add staff
            .planning__capacity
              .planning__capacity-headline Room Capacity
              .planning__capacity-enum
                .planning__capacity-item.planning__capacity-item_1
                  i
                  span 86%
                .planning__capacity-item.planning__capacity-item_2
                  i
                  span 7 spaces free
          .summary
            .summary__grid.summary__grid-days
              .summary__row
              .summary__row
                .summary__day Monday
              .summary__row
                .summary__day Tuesday
              .summary__row
                .summary__day Wednesday
              .summary__row
                .summary__day Thursday
              .summary__row
                .summary__day Friday
              .summary__row
                .summary__day Total
            .summary__grid
              .summary__row
                .summary__clock AM
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__total 84%
            .summary__grid
              .summary__row
                .summary__clock PM
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__info
                  .summary__info-top 10 of 12
                  .summary__info-sep
                  .summary__info-bottom 80%
              .summary__row
                .summary__day
                .summary__total 84%
