doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Little Vista

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/styles/vendor.css')
    link(rel='stylesheet', href='assets/styles/app.css')

  body
    #wrapper
      aside#sidebar
        .sidebar__header
          a.sidebar__logo(href="index.html")
        .account
          h3.account__name Nikki Byrne
          span.account__info Inspire Creche, Naas Co. Kildare
        nav.nav
          a.nav__link.nav__link-active
            i.nav__icon.nav__icon-dashboard
            span Dashboard
          a.nav__link
            i.nav__icon.nav__icon-review
            span Review
          a.nav__link
            i.nav__icon.nav__icon-account
            span My Account
          a.nav__link
            i.nav__icon.nav__icon-logout
            span Logout
        
        a.sidebar__contact(href="#contact") Contact

      #content.content
        .content__header
          span.content__headline Reports
        
        .reports
          .reports__item
            .reports__item-title
              span Choose the report you need:
            .reports__item-content
              .report-1 Attendance
              .report-1 Staffing
              .report-1 Sleep Checks
              .report-1 Checklists

          .reports__item
            .reports__item-title
              span Choose the date range:
            .reports__item-content
              .report-2 01 DEC 2015
              .report-2 01 FEB 2016

          hr

          .reports__item
            .reports__item-title
              span Reports Available:
            .reports__item-content
              .report-3
                .report-3__icon
                  i.report-3__icon-1
                span.report-3__name Attendance
                span.report-3__date 01/01/2016 - 01/02/2016
              .report-3
                .report-3__icon
                  i.report-3__icon-2
                span.report-3__name Sleep Checks
                span.report-3__date 01/01/2016 - 01/02/2016