@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300");
html {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  min-width: 1200px;
  min-height: 610px;
  background-color: #f0f0f2;
}
.white {
  background: #fff;
}
* {
  box-sizing: border-box;
  outline: 0;
}
.page {
  position: relative;
}
.page .content {
  position: relative;
  width: 370px;
  margin: 0 auto;
  min-height: 400px;
  height: 100%;
}
.page .inner {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -200px;
}
.page .logo {
  background: url("../images/logo.png") center no-repeat;
  width: 258px;
  height: 128px;
  margin: 0 auto;
}
.page form {
  margin: 60px 0 10px 0;
  position: relative;
}
.page form input {
  padding: 0px 20px;
  display: block;
  width: 100%;
  line-height: 55px;
  background: #fff;
  border: 1px solid #e2e2e3;
}
.page form input:first-child {
  border-radius: 3px 3px 0 0;
}
.page form input:nth-child(2) {
  margin-top: -1px;
  border-radius: 0 0 3px 3px;
}
.page form .btn {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  line-height: 45px;
  padding: 0 10px;
  background: #82c878;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 5px 0 #6caa63;
  cursor: pointer;
  text-decoration: none;
}
.btn.btn-blue {
  background: #46aae1;
  box-shadow: 0 5px 0 #528aca;
}
/*
	Dashboard
*/
#wrapper {
  padding-left: 240px;
  height: 100%;
}
#sidebar {
  position: fixed;
  margin-left: -240px;
  width: 240px;
  background: #32383e;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  float: left;
  z-index: 200;
}
.sidebar__header {
  height: 70px;
  background: #22272a;
  text-align: center;
}
.sidebar__logo {
  display: inline-block;
  background: url("../images/logo_small.png") center no-repeat;
  width: 156px;
  height: 44px;
  margin-top: 13px;
}
.sidebar__contact {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 45px;
  width: 100px;
  text-align: center;
  border-radius: 50px;
  color: #f45b2a;
  border: 1px solid #0392e0;
  bottom: 40px;
  text-decoration: none;
  background: transparent;
  transition: background 0.2s;
  transition: color 0.2s;
}
.sidebar__contact:hover {
  background: #0392e0;
  color: #fff;
}
.account {
  margin: 60px 30px;
  text-align: center;
}
.account__name {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.account__info {
  color: #e0dfdf;
  font-weight: 300;
}
.nav {
  display: block;
  width: 100%;
}
.nav__link {
  display: block;
  line-height: 60px;
  border-left: 2px solid #32383e;
  padding: 0 25px;
  cursor: pointer;
  transition: border-left 0.3s;
}
.nav__link-active,
.nav__link:hover {
  border-left: 2px solid #3991df;
}
.nav__link-active span,
.nav__link:hover span {
  color: #3098eb !important;
}
.nav__link-active .nav__icon,
.nav__link:hover .nav__icon {
  background-position: -25px 0;
}
.nav__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  background-position: 0px 0px;
  background-size: 50px 25px;
}
.nav__icon-dashboard {
  background-image: url("../images/icon-dashboard.png");
}
.nav__icon-review {
  background-image: url("../images/icon-review.png");
}
.nav__icon-account {
  background-image: url("../images/icon-account.png");
}
.nav__icon-logout {
  background-image: url("../images/icon-logout.png");
}
.nav span {
  font-weight: 300;
  font-size: 22px;
  color: #d9d9d9;
  vertical-align: middle;
}
#content {
  width: 100%;
  float: left;
}
.content {
  position: relative;
  height: 100%;
}
.content__header {
  line-height: 70px;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  padding: 0 55px;
}
.content__headline {
  font-size: 28px;
  color: #3d3d3d;
  font-weight: 300;
}
.content__page {
  float: right;
  font-size: 22px;
  color: #3d3d3d;
}
.cards {
  margin-top: 100px;
  text-align: center;
}
.card {
  display: inline-block;
  width: 290px;
  background: #fff;
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 0 0 0 2px #eaeaec;
  transition: box-shadow 0.5s;
  margin-bottom: 30px;
  vertical-align: top;
}
.card:hover {
  box-shadow: 0 0 0 5px #eaeaec;
}
.card:nth-child(2) {
  margin: 0 30px;
}
.card__icon {
  background-image: url("../images/dashboard-sprite.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.card__icon-calendar {
  background-position: 0px 0px;
}
.card__icon-handshake {
  background-position: -60px 0;
}
.card__icon-reports {
  background-position: -120px;
}
.card__name {
  margin: 10px 0 10px 0;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.card__info {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 300;
}
.card__button {
  display: inline-block;
  line-height: 45px;
  font-size: 20px;
  color: #6f6f6f;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #0392e0;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  background: #fff;
  transition: background 0.2s, color 0.2s;
}
.card__button:hover {
  background: #0392e0;
  color: #fff;
}
.cards__control {
  display: block;
  text-align: center;
}
.family-button {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #32c2f2;
  line-height: 70px;
  font-size: 24px;
  color: #424242;
  padding: 0 20px;
  background: #fff;
  text-decoration: none;
}
.family-button i {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 39px;
  height: 39px;
  background: url("../images/icon-plus.png") center no-repeat;
  vertical-align: middle;
  margin-right: 20px;
}
.family-button span {
  vertical-align: middle;
}
.reports {
  padding: 0 55px;
}
.reports__item {
  display: inline-block;
  vertical-align: top;
  max-width: 420px;
}
.reports__item-title {
  font-size: 22px;
  font-weight: 300;
  margin: 20px 0;
}
.report-1 {
  display: inline-block;
  width: 165px;
  line-height: 35px;
  border-radius: 50px;
  background: #51db54;
  color: #fff;
  margin: 0 40px 20px 0;
  text-align: center;
  cursor: pointer;
}
.report-2 {
  display: inline-block;
  width: 165px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #777;
  color: #333;
  margin: 0 40px 20px 0;
  text-align: center;
  cursor: pointer;
}
.report-3 {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 0 25px;
}
.report-3__icon {
  display: block;
  width: 140px;
  height: 115px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}
.report-3__icon-1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images/sprite-reports.png");
  background-position: -50px 0;
  margin: 30px 0 0 0;
}
.report-3__icon-2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images/sprite-reports.png");
  background-position: 0 0;
  margin: 30px 0 0 0;
}
.report-3__name {
  display: block;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 300;
}
.report-3__date {
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.weekly {
  padding: 55px;
}
.weekly .man {
  position: relative;
  zoom: 1;
}
.weekly .man:after,
.weekly .man:before {
  content: "";
  display: table;
}
.weekly .man:after {
  clear: both;
}
.weekly .man__photo {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 20px;
}
.weekly .man__photo img {
  border-radius: 50%;
}
.weekly .man__info {
  float: left;
}
.weekly .man__title {
  margin-top: 30px;
  color: #787878;
  font-size: 18px;
}
.weekly .man__name {
  color: #4b4b4b;
  font-size: 22px;
}
.weekly .days {
  margin: 70px 0;
}
.weekly .days .day {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0 30px;
}
.weekly .days .day__title {
  text-transform: uppercase;
  color: #515151;
  margin: 0 0 20px 0;
  font-size: 18px;
}
.weekly .days .day__data-sep {
  display: inline-block;
  width: 2px;
  height: 50px;
  background: #c7c7c7;
  vertical-align: middle;
  margin: 0 5px;
}
.weekly .days .day__data-clock {
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  background: #d7d7d7;
  vertical-align: middle;
  border-radius: 3px;
}
.weekly .days .day__data-clock_green {
  background: #00ca54;
  box-shadow: -1px -1px 0px 1px #3da94f;
}
.weekly .days .day__data-clock_blue {
  background: #00bff2;
  box-shadow: -1px -1px 0px 1px #3d7bad;
}
.weekly .total {
  margin-left: 50px;
}
.weekly .total__headline {
  display: block;
  color: #787878;
  font-size: 18px;
}
.weekly .total__data {
  display: block;
  color: #4b4b4b;
  font-size: 22px;
}
.weekly .control {
  text-align: center;
  margin-top: 70px;
}
.weekly .control a {
  display: inline-block;
  border: 1px solid #54afe2;
  width: 150px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  text-transform: uppercase;
  color: #54afe2;
  text-decoration: none;
  border-radius: 50px;
  transition: background 0.2s, color 0.2s;
  font-weight: 300;
}
.weekly .control a:hover {
  background: #54afe2;
  color: #fff;
}
.planning {
  padding: 20px 50px;
}
.planning__title {
  font-size: 24px;
  color: #494949;
  margin-bottom: 30px;
}
.planning__controls {
  zoom: 1;
  margin-bottom: 20px;
}
.planning__controls:after,
.planning__controls:before {
  content: "";
  display: table;
}
.planning__controls:after {
  clear: both;
}
.planning__staff {
  float: left;
}
.planning__staff-headline {
  font-size: 24px;
  color: #494949;
}
.planning__staff-enum {
  margin-top: 20px;
  position: relative;
  zoom: 1;
}
.planning__staff-enum:after,
.planning__staff-enum:before {
  content: "";
  display: table;
}
.planning__staff-enum:after {
  clear: both;
}
.planning__man {
  float: left;
  line-height: 65px;
  margin-right: 50px;
  color: #494949;
}
.planning__man img {
  display: block;
  margin: 0;
  float: left;
  border-radius: 50%;
}
.planning__man span {
  float: left;
  margin-left: 20px;
  font-size: 18px;
}
.planning__add {
  float: left;
  line-height: 65px;
  padding-left: 59px;
  background: url("../images/icon-add.png") left center no-repeat;
  color: #a4a4a4;
  text-decoration: none;
}
.planning__capacity {
  float: right;
}
.planning__capacity-headline {
  font-size: 18px;
  color: #494949;
}
.planning__capacity-enum {
  position: relative;
}
.planning__capacity-item {
  display: block;
  font-size: 22px;
  color: #494949;
  line-height: 32px;
  margin-top: 20px;
}
.planning__capacity-item i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../images/sprite-capacity.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}
.planning__capacity-item span {
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  margin-left: 20px;
}
.planning__capacity-item_1 i {
  background-position: -32px 0;
}
.planning .summary {
  border-top: 1px solid #555;
  padding-top: 50px;
}
.planning .summary__grid {
  zoom: 1;
  text-align: center;
  margin: 0 -35px;
}
.planning .summary__grid:after,
.planning .summary__grid:before {
  content: "";
  display: table;
}
.planning .summary__grid:after {
  clear: both;
}
.planning .summary__grid-days .summary__row {
  height: auto;
}
.planning .summary__row {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  width: 90px;
  height: 140px;
  text-align: center;
}
.planning .summary__day {
  vertical-align: top;
  font-size: 18px;
  color: #494949;
  text-transform: uppercase;
}
.planning .summary__clock {
  display: inline-block;
  padding-top: 48px;
  width: 48px;
  font-size: 24px;
  text-align: center;
  color: #494949;
  background: url("../images/icon-clock.png") top center no-repeat;
  margin-top: 45px;
}
.planning .summary__info {
  margin-top: 40px;
}
.planning .summary__info-top {
  font-size: 18px;
  color: #4a4a4a;
}
.planning .summary__info-sep {
  display: inline-block;
  width: 70%;
  height: 1px;
  background: #acacac;
  margin: 3px 0;
}
.planning .summary__info-bottom {
  color: #4a4a4a;
  font-size: 28px;
}
.planning .summary__total {
  margin-top: 40px;
  font-size: 28px;
  font-size: #4a4a4a;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-align: center;
  border: 2px solid #ebebeb;
  border-radius: 50%;
}
.popup {
  display: none;
  position: absolute;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  padding-left: 240px;
  z-index: 100;
}
.popup.show {
  display: block;
}
.popup__wrapper {
  padding: 50px;
}
.family-form {
  position: relative;
}
.family-form__title {
  font-size: 36px;
  color: #37ca4b;
  text-align: center;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.family-form__subtitle {
  font-size: 20px;
  color: #878787;
  text-align: center;
  margin: 0;
  font-weight: 400;
}
.family-form form {
  margin: 40px auto 0 auto;
  padding: 0;
  zoom: 1;
  width: 800px;
}
.family-form form:after,
.family-form form:before {
  content: "";
  display: table;
}
.family-form form:after {
  clear: both;
}
.family-form form fieldset {
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
}
.family-form form fieldset label {
  display: block;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 10px;
}
.family-form form fieldset input[type="text"] {
  width: 100%;
  line-height: 35px;
  padding: 0 20px;
  border: 1px solid #999;
  border-radius: 50px;
}
.family-form__row {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.family-form__row:first-child {
  margin-right: 4%;
}
.family-form__row:nth-child(2) {
  margin-left: 4%;
}
.family-form__add {
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 600;
  background: url("../images/icon-add.png") left center no-repeat;
  padding-left: 50px;
  line-height: 39px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
}
.family-form__controls {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.family-form__button {
  line-height: 50px;
  border: 1px solid #37ca4b;
  padding: 0 50px;
  text-align: center;
  font-size: 20px;
  color: #787878;
  background: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  transition: background 0.2s, color 0.2s;
}
.family-form__button:hover {
  background: #37ca4b;
  color: #fff;
}
.ios7-switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.ios7-switch input {
  opacity: 0;
  position: absolute;
}
.ios7-switch input + span {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 38px;
  background: #fff;
  box-shadow: inset 0 0 0 0.0625em #e9e9e9;
  border-radius: 50px;
  vertical-align: -0.15em;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.43, 0.98);
}
.ios7-switch:active input + span,
.ios7-switch input + span:active {
  box-shadow: inset 0 0 0 0.73em #e9e9e9;
}
.ios7-switch input + span:after {
  position: absolute;
  display: block;
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50px;
  top: 1px;
  left: 1px;
  background: #fff;
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1), 0 0 0.05em rgba(0,0,0,0.05), 0 0.1em 0.2em rgba(0,0,0,0.2);
  transition: all 0.25s ease-out;
}
.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
  width: 1.15em;
}
.ios7-switch input:checked + span {
  box-shadow: inset 0 0 0 25px #4cd964;
}
.ios7-switch input:checked + span:after {
  left: 34px;
}
.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
  left: 0.4375em;
}
.payments {
  position: relative;
  padding: 0 40px;
}
.payments__table {
  width: 100%;
}
.payments__table tr {
  text-align: left;
}
.payments__table th {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
}
.payments__table td {
  line-height: 40px;
  padding: 10px 0;
  font-size: 17px;
  color: #3d3d3d;
}
.payments__table thead {
  position: relative;
}
.payments__table thead tr {
  border-bottom: 2px solid #eee;
}
.payments__table tbody {
  position: relative;
}
.payments__table tbody tr {
  border-bottom: 1px solid #eee;
}
.payments__file {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: url("../images/icon-file.png") no-repeat;
  margin-top: 11px;
}
.payments__paid {
  font-size: 20px;
  color: #60df57;
  font-weight: 600;
}
.payments__action {
  display: inline-block;
  position: relative;
  line-height: 40px;
  border: 1px solid #59abe4;
  border-radius: 50px;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.payments__action:hover {
  color: #fff;
  background: #59abe4;
}
.payments__action:hover .payments__dropdown {
  display: block;
}
.payments__dropdown {
  padding: 10px 20px;
  right: 0;
  position: absolute;
  width: 300px;
  display: none;
  background: #fff;
  box-shadow: 0 0 6px #999;
  border-radius: 8px;
  color: #787878;
  z-index: 100;
  cursor: default;
}
.payments__dropdown-title {
  font-size: 16px;
  font-weight: 600;
}
.payments__dropdown-item {
  display: block;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding-left: 30px;
  line-height: 21px;
  margin: 20px 0;
}
.payments__dropdown-item_1,
.payments__dropdown-item_2,
.payments__dropdown-item_3,
.payments__dropdown-item_4,
.payments__dropdown-item_5 {
  background-image: url("../images/sprite-actions.png");
  background-repeat: no-repeat;
}
.payments__dropdown-item_1 {
  background-position: 0 0;
}
.payments__dropdown-item_2 {
  background-position: 0 -21px;
}
.payments__dropdown-item_3 {
  background-position: 0 -42px;
}
.payments__dropdown-item_4 {
  background-position: 0 -63px;
}
.payments__dropdown-item_5 {
  background-position: 0 -84px;
}
.payments__title {
  font-size: 24px;
  color: #3d3d3d;
  margin: 20px 0;
}
.payments__filters {
  zoom: 1;
  margin-bottom: 40px;
}
.payments__filters:after,
.payments__filters:before {
  content: "";
  display: table;
}
.payments__filters:after {
  clear: both;
}
.payments__filters-left {
  float: left;
}
.payments__filters-left_title {
  display: block;
  font-size: 20px;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.payments__filters-right {
  float: right;
  text-align: right;
}
.payments__filters-right_title {
  display: block;
  font-size: 20px;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.payments__filter {
  display: inline-block;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  width: 130px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.payments__filter_1 {
  background: #60df57;
}
.payments__filter_2 {
  background: #7dcff5;
}
.payments__filter_3 {
  background: #f4af6a;
}
.payments__filter-input {
  line-height: 28px;
  width: 250px;
  border: 1px solid #7dcff5;
  border-radius: 50px;
  padding: 0 20px;
}
.payments__pagination {
  float: right;
  zoom: 1;
  list-style: none;
  padding-bottom: 300px;
}
.payments__pagination:after,
.payments__pagination:before {
  content: "";
  display: table;
}
.payments__pagination:after {
  clear: both;
}
.payments__pagination li {
  float: left;
}
.payments__pagination li a {
  padding: 10px;
  font-size: 20px;
  color: #3d3d3d;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}
.payments__pagination li a:hover {
  color: #777;
}
